{
  "printWidth": 160,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "bracketSpacing": false,
  "jsxSingleQuote": true,
  "useTabs": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "tabWidth": 2
}